.app{
  text-align:center;
  border-style:solid;
  border-color:black;
  margin-top:10%;
  width:80%;
  margin-left:10%;
  
}

input{
  text-align:center;
  font-size:30px;
}
.per-person{
  color:red;
  font-size:20px;
 
}