.app{
  text-align:center;
  border-style:solid;
  border-color:black;
  margin-top:10%;
  width:80%;
  margin-left:10%;
  
}

input{
  text-align:center;
  font-size:30px;
}
.per-person{
  color:red;
  font-size:20px;
 
}

@media only screen and (min-width:360px){
  input{
    font-size:15px;
    width:100px;
  }
} 

@media only screen and (min-width:320px){
  input{
    font-size:30px;
    width:100px;
  }
}
@media only screen and (min-width:768px){
  input{
    font-size:30px;
    width:250px;
  }
  
}